.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}

.skills__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
